<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Refugee ontology for home return">
    <meta name="keywords" content="Refugee, Ontology, Returnee">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7yYb0GnhhfsHSlUDFbrjYGdAyM6QJ7Ygxyg&usqp=CAU"
        type="image/x-icon">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <title>Refugee Ontology</title>
</head>

<body>
    <nav class="container">
        <h1>REFUGEE ONTOLOGY</h1>
        <a href="#query">QUERY </a>
        <a href="#concept">CONCEPT</a>
        <a href="#intro">INTRODUCTION</a>
    </nav>
    <main>
        <div class="abstract container">
            <aside class="left-abstract">
                <h2>Ontology of Refugee Home
                    Return V1</h2>
                <!--<a href="#intro" class="learn">LEARN MORE</a>-->
            </aside>
            <section class="right-abstract">
                <p>
                    Refugeehood is a multidimensional phenomenon and a complex challenge facing the world today. To
                    equip policy-makers and civil organizations with knowledge tools that can improve their plans,
                    programs, and evaluation, we developed an ontology of refugees’ home return. Home return is a
                    sub-field of
                    refugee studies and one of the most elusive concepts. Modeling this sub-field, using the OntoClean
                    method,
                    helps us create a coherent whole, accounting for the complex relations between the various factors
                    that construct home return. In addition, the ontology rigorously defines and (re)constructs the
                    concepts
                    from the literature on home return, providing clarity and rigor for scholars of refugee studies. We
                    conclude with discussion of future plans to develop an online application that makes this ontology
                    friendly
                    for normal users.

                </p>
            </section>
        </div>
        <hr />
        <div class="intro container">
            <section class="intro-section">
                <h2 class="intro-header">
                    <a id="intro">INTRODUCTION</a>
                </h2>
                <p>
                    The past decade has seen a significant increase in global refugee movements, largely due to
                    conflicts in the Middle East. This has resulted in a refugee crisis, particularly within the
                    European Union, causing political and social upheaval. This paper aims to develop an ontology to
                    improve the management of refugee-related issues, focusing on the concept of home return. Despite
                    extensive academic literature on refugees, practical application of this knowledge in governance
                    remains challenging. The proposed ontology aims to bridge this gap, providing a structured approach
                    to understanding and applying concepts from refugee studies. The methodology offers logical rigor
                    and facilitates knowledge organization and semantic search. The long-term goals include enabling
                    policy-makers to understand and apply concepts from the literature, and to upload real data to test
                    relations between various concepts and measure program impact. The paper focuses on the complex
                    issue of refugee home return, aiming to formally model this elusive field of knowledge.

                </p>
            </section>
        </div>

        <hr />
        <div class="container">
            <h2 class="concept-header"><a id="concept">CONCEPT</a></h2>
            <div class="concept-section">

                <aside class="graph1 left-concept">
                    <svg id="main-graph" width="800" height="600"></svg>
                </aside>
                <section class="right-concept">
                    <h3>EXPLANATION</h3>
                    <p id="description"></p>
                </section>
            </div>
        </div>
        <hr />
        <div id="allegrograph-query">
            <h2 class="query-header">
                <a id="query">QUERY EXPLANATION</a>
            </h2>
            <div class="query">
                <aside class="left-query container">
                    <h3>Make Queries On Refugees</h3>
                    <form action="/query" method="POST" class="query-from">

                        <div class="cond-box cond1">
                            <label class="query-name"
                                title="Belonging is generally to a group; to which extent a refugee is self-identified as a member of x group (national, religious, ethnic, etc.).">Refugee
                                Belongs To: </label> <br />
                            <input type="checkbox" name="homeBelonging" id="homeBelonging"><label
                                for="homeBelonging">Home
                                Belonging</label>
                            <input type="checkbox" name="hostBelonging" id="hostBelonging"><label
                                for="hostBelonging">Host
                                Belonging</label>
                        </div>

                        <div class="cond-box cond2">
                            <label class="query-name"
                                title="Refugee Agency is the capability of refugees to act, to choose, to be as they believe that will serve their well-being the best. It is, in othre words, to be autonomous.">Refugee
                                Has Agency: </label> <br />
                            <input type="radio" id="highAgency" name="hasAgency" value="HighAgency"><label
                                for="highAgency">High Agency</label>
                            <input type="radio" id="lowAgency" name="hasAgency" value="LowAgency"><label
                                for="lowAgency">Low
                                Agency</label>


                        </div>

                        <div class="cond-box cond3">
                            <label class="query-name"
                                title="Reintegration It is the ability of those who return to re-establsih their lives in their countries of origin.">Refugee
                                Has Expected Level Of Reintegration: </label> <br />
                            <input type="checkbox" name="economicWellbeing" id="economicWellbeing"><label
                                for="economicWellbeing">Economic Wellbeing</label>
                            <input type="checkbox" name="politicalProcess" id="politicalProcess"><label
                                for="politicalProcess">Political Process</label>
                            <input type="checkbox" name="socialCapital" id="socialCapital"><label
                                for="socialCapital">Social
                                Capital</label>
                        </div>

                        <div class="cond-box cond4">
                            <label class="query-name"
                                title="Integration is the Refugee level of integration in her host place/country.">Refugee
                                Has Level Of Integration: </label> <br />
                            <input type="checkbox" name="culturalIntegration" id="culturalIntegration"><label
                                for="culturalIntegration">Cultural Integration</label>
                            <input type="checkbox" name="economicIntegration" id="economicIntegration"><label
                                for="economicIntegration">Economic Integration</label>
                            <input type="checkbox" name="socialIntegration" id="socialIntegration"><label
                                for="socialIntegration">Social Integration</label>
                        </div>

                        <div class="cond-box cond5">
                            <label class="query-name"
                                title="Attachement is always to a place; to which extent a refugee is attached to a place as a part of her identity.">Refugee
                                Is Attached To: </label> <br />
                            <input type="checkbox" name="homeAttachment" id="homeAttachment"><label
                                for="homeAttachment">Home Attachment</label>
                            <input type="checkbox" name="hostAttachment" id="hostAttachment"><label
                                for="hostAttachment">Host Attachment</label>
                        </div>

                        <div class="cond-box cond6">
                            <label class="query-name"
                                title="How a refugee forms a place that she desires to live in; what is this place? her home? her host? neither?">Refugee
                                Makes Place Of: </label> <br />
                            <input type="checkbox" name="homeMaking" id="homeMaking"><label for="homeMaking">Home
                                Making</label>
                            <input type="checkbox" name="hostMaking" id="hostMaking"><label for="hostMaking">Host
                                Making</label>
                        </div>

                        <div class="cond-box cond7">
                            <label class="query-name"
                                title="Transnationalism Activities of refugees that link or bridge multiple places together, home and host. These activities or practices can be endorsed at the everyday level or in the long term.">Refugee
                                Practices Transnationalism: </label> <br />
                            <input type="checkbox" name="weak" id="weak"><label for="weak">Yes</label>
                            <input type="checkbox" name="no" id="no"><label for="no">No</label>

                        </div>

                        <div class="submit-query cond8">
                            <input type="submit" value="Make Query">
                            <input type="reset" value="Reset">
                        </div>
                    </form>
                    <form action="/returnee" method="POST">
                        <div class="submit-query">
                            <input type="submit" value="Refugee Would Be Returnee Query">
                        </div>
                    </form>
                    
                    
                </aside>
                <hr class="sub-sec-line" />
                <section class="right-query">
                    <!-- {{sparql_query}} -->
                    <div class="result">
                        <h3>Query Result</h3>
                        <table>
                            <thead>
                                {% for h in header %}
                                    <th>{{ h }}</th>
                                {% endfor %}
                            </thead>
                            <tbody>
                                {% for item in result %}
                                    <tr>
                                        {% for it in item %}
                                            {% if it != none %}
                                                <td>{{ it }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </section>

            </div>
        </div>
    </main>

    <footer>
        <p>Copyright &copy; 2023 <span>Refugee Would Be Returnee Ontology</span> All Rights Reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/index1.js') }}"></script>
</body>

</html>