<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Refugee ontology for home return">
    <meta name="keywords" content="Refugee, Ontology, Returnee">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon"
        href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7yYb0GnhhfsHSlUDFbrjYGdAyM6QJ7Ygxyg&usqp=CAU"
        type="image/x-icon">
    <script src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    <title>Add Instances</title>

    <style>
        body {
            line-height: 1.7;
        }

        .header-sec {
            font-weight: bold;
            font-size: 22px;
            display: block;
        }

        .header-sub-sec {
            font-weight: bold;
            font-size: 18px;
        }

        div.div {
            text-indent: 50px;
        }
    </style>
</head>

<body>
    <nav class="container">
        <h1>REFUGEE ONTOLOGY</h1>
        <a href="/insert">ADD INSTANCE</a>
        <a href="/#query">QUERY </a>
        <a href="/#concept">CONCEPT</a>
        <a href="/#intro">INTRODUCTION</a>

    </nav>
    <main>
        <div class="container">
            <script>
                alert(result)    
            </script>
            <form action="/insert" method="post">
                <div class="">
                    <label for="refugee" class="header-sec"> Refugee</label>
                    <input type="text" name="refugee" id="refugee" placeholder="Refugee Name">

                </div>

                <div class="">
                    <label for="belonging" class="header-sec">Belonging</label>
                    <input type="text" name="hostBelonging" id="hostBelonging" placeholder="Host Belonging">
                    <input type="text" name="homeBelonging" id="homeBelonging" placeholder="Home Belonging">
                </div>

                <div class="">
                    <label for="" class="header-sec">Attachement</label>
                    <input type="text" name="homeAttachment" id="homeAttachment" placeholder="Home Attachement">
                    <input type="text" name="hostAttachment" id="hostAttachment" placeholder="Host Attachement">
                </div>

                <div class="">
                    <label for="" class="header-sec">Place Making</label>
                    <input type="text" name="homeMaking" id="homeMaking" placeholder="Home Making">
                    <input type="text" name="hostMaking" id="hostMaking" placeholder="Host MAking">
                </div>

                <div class="">
                    <label for="refagency" class="header-sec">Refugee Agency</label>
                    <div class="">
                        <input type="radio" name="refagency" id="highagency">
                        <label for="highagency">High Agency</label>
                        <input type="text" name="highagencyfield" id="highagencyfield" placeholder="High Agency"
                            disabled="disabled">

                        <input type="radio" name="refagency" id="lowagency">
                        <label for="lowagency">Low Agency</label>
                        <input type="text" name="lowagencyfield" id="lowagencyfield" placeholder="Low Agency"
                            disabled="disabled">

                    </div>
                </div>

                <div class="">
                    <label for="reintegration" class="header-sec">Reintegration</label>
                    <div class="div">
                        <label for="economicwellbeing " class="header-sub-sec">Economic Wellbeing</label>
                        <input type="radio" name="economicWellbeing" value="HighEconWellbeingInhome"
                            id="HighEconWellbeingInHome">
                        <label for="HighEconWellbeingInHome">High Economic Wellbeing In Home</label>
                        <input type="radio" name="economicWellbeing" value="MediumEconWellbeingInhome"
                            id="MediumEconWellbeingInHome">
                        <label for="MediumEconWellbeingInHome">Medium Econ Wellbeing In Home</label>
                        <input type="radio" name="economicWellbeing" value="LowEconWellbeingInhome"
                            id="LowEconWellbeingInHome">
                        <label for="LowEconWellbeingInHome">Low Econ Wellbeing Inhome</label>
                    </div>

                    <div class="div">
                        <label for="politicalProcess" class="header-sub-sec">Political Process</label>

                        <input type="radio" name="politicalProcess" value="StablePoliticalProcess"
                            id="StablePoliticalProcess">
                        <label for="StablePoliticalProcess">Stable Political Process</label>
                        <input type="radio" name="politicalProcess" value="UnstablePoliticalProcess"
                            id="UnstablePoliticalProcess">
                        <label for="UnstablePoliticalProcess">Unstable Political Process</label>

                    </div>

                    <div class="div">
                        <label for="socialCapital" class="header-sub-sec">Social
                            Capital</label>
                        <input type="radio" name="socialCapital" value="GoodSocialCapitalInhome"
                            id="GoodSocialCapitalInhome">
                        <label for="GoodSocialCapitalInhome">Good Social Capital In Home</label>
                        <input type="radio" name="socialCapital" value="MediumSocialcapitalInHome"
                            id="MediumSocialcapitalInHome">
                        <label for="MediumSocialcapitalInHome">Medium Socialcapital In Home</label>
                        <input type="radio" name="socialCapital" value="BadSocialCapitalInHome"
                            id="BadSocialCapitalInHome">
                        <label for="BadSocialCapitalInHome">Bad Social Capital In Home</label>
                    </div>
                </div>

                <div class="">
                    <label class="header-sec">Integration: </label> <br />
                    <div class="div">


                        <div class="">
                            <label for="culturalIntegration" class="header-sub-sec">Cultural Integration</label>
                            <input type="radio" name="culturalIntegration" value="HighCulturalIntegration"
                                id="HighCulturalIntegration">
                            <label for="HighCulturalIntegration">High Cultural Integration</label>
                            <input type="radio" name="culturalIntegration" value="MediumCulturalIntegration"
                                id="MediumCulturalIntegration">
                            <label for="MediumCulturalIntegration">Medium Cultural Integration</label>
                            <input type="radio" name="culturalIntegration" value="LowCulturalIntegration"
                                id="LowCulturalIntegration">
                            <label for="LowCulturalIntegration">Low Cultural Integration</label>

                        </div>

                        <div class="">
                            <label for="economicIntegration" class="header-sub-sec">Economic Integration</label>
                            <input type="radio" name="economicIntegration" value="HighEconIntegration"
                                id="HighEconIntegration">
                            <label for="HighEconIntegration">High Econ Integration</label>
                            <input type="radio" name="economicIntegration" value="MediumEconIntegration"
                                id="MediumEconIntegration">
                            <label for="MediumEconIntegration">Medium Econ Integration</label>
                            <input type="radio" name="economicIntegration" id="LowEconIntegration">
                            <label for="LowEconIntegration">Low Econ Integration</label>
                        </div>


                        <div class="">
                            <label for="socialIntegration" class="header-sub-sec">Social Integration</label>
                            <input type="radio" name="socialIntegration" value="HighSocioIntegration"
                                id="HighSocioIntegration">
                            <label for="HighSocioIntegration">High Socio Integration</label>
                            <input type="radio" name="socialIntegration" value="MediumSocioIntegration"
                                id="MediumSocioIntegration">
                            <label for="MediumSocioIntegration">Medium Socio Integration</label>
                            <input type="radio" name="socialIntegration" value="LowSocioIntegration"
                                id="LowSocioIntegration">
                            <label for="LowSocioIntegration">Low Socio Integration</label>
                        </div>
                    </div>
                </div>



                <div class="">
                    <label for="" class="header-sec">Transnationalism</label>
                    <input type="text" name="transnationalism" id="transnationalism" placeholder="Transnationalism">
                </div>

                <div class="">
                    <input type="submit" value="ADD">
                    <input type="reset" value="RESET">
                </div>
            </form>
        </div>
    </main>

    <script>
        $("#highagency").on("click", function () {
            $("#lowagencyfield").attr("disabled", true);

            $('#highagencyfield').attr("disabled", false)
        });

        $("#lowagency").on("click", function () {
            $("#highagencyfield").attr("disabled", true);

            $('#lowagencyfield').attr("disabled", false)
        });
    </script>
</body>

</html>